* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #fff;
    color: #111;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    align-items: center;
    background: #000;
}

.logo {
    font-size: 22px;
    background: red;
    padding: 5px 15px;
    color: white;
    border-radius: 5px;
}

nav a {
    margin-left: 20px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    position: relative;
    height: 400px;
    background: url("banner.png") center/cover no-repeat;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,0,0,0.4);
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.hero-text button {
    padding: 12px 25px;
    margin-top: 20px;
    font-size: 16px;
    background: #000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.characters {
    text-align: center;
    padding: 60px 20px;
}

.char-grid {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.char-card {
    width: 260px;
    background: #ffe6e6;
    border: 2px solid red;
    border-radius: 10px;
    padding: 15px;
}

.char-card img {
    width: 100%;
    border-radius: 8px;
}

.episodes {
    background: #fff3f3;
    padding: 60px 20px;
    text-align: center;
}

.episode-list {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.episode-card {
    width: 260px;
    background: white;
    border: 2px solid red;
    padding: 20px;
    border-radius: 10px;
}

.gallery {
    padding: 60px 20px;
    text-align: center;
}

.gallery-grid {
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.gallery-grid img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    border: 2px solid red;
}

.contact {
    padding: 60px 20px;
    text-align: center;
}

.contact form {
    width: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact input,
.contact textarea {
    padding: 12px;
    border: 2px solid red;
    border-radius: 5px;
}

.contact button {
    padding: 12px;
    background: red;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background: #000;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 768px) {
    .char-grid,
    .episode-list {
        flex-direction: column;
        align-items: center;
    }

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .contact form {
        width: 90%;
    }
}
